# To get started with security, check out the documentation:
# http://symfony.com/doc/current/book/security.html
security:

    encoders:
        FOS\UserBundle\Model\UserInterface: bcrypt

    role_hierarchy:
        ROLE_ADMIN:       ROLE_USER
        ROLE_SUPER_ADMIN: ROLE_ADMIN

    providers:
        fos_userbundle:
            id: fos_user.user_provider.username

    firewalls:
        # disables authentication for assets and the profiler, adapt it according to your needs
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        oauth_token:
            pattern:      ^/oauth/v2/token
            security:     false

        main:
            pattern: ^/
            fos_oauth: true
            stateless: true
            anonymous: true

#        api:
#            pattern:    ^/api
#            fos_oauth:  true
#            stateless:  true

    access_control:
#        - { path: ^/api, roles: [ IS_AUTHENTICATED_FULLY ] }